@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);

  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----mobile first design------ */

body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
main {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.1;
  color: var(--Dark-Grayish-Red);
  margin-top: 2.9rem;
}
img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
p {
  font-size: 14px;
  color: var(--Desaturated-Red);
  line-height: 1.4;
  text-align: center;
  margin: 10px auto;
}
span {
  color: var(--Desaturated-Red);
}
button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 8px 24px;
  border-radius: 2rem;
  border: none;
  outline: none;
  transform: translate(-5.4rem);
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.25);
}
.logo {
  width: 8rem;
  margin: 1rem;
}
.container {
  padding: 0.6rem 2.4rem;
}

.email {
  margin: 1.4rem auto;
  height: 2.4rem;
  max-width: 16rem;
  width: 90%;
  border-radius: 2rem;
  border: 1px solid var(--Desaturated-Red);
  padding-left: 1rem;
}

.destop-img {
  display: none;
}
.email-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 24rem;
  margin: 0 auto;
}

/* ----error icon---- */

.error {
  width: 1.29rem;
  height: 1.29rem;
  transform: translate(-5.7rem);
  display: none;
}
.error-msg {
  position: relative;
  left: -4.8rem;
  top: -1.1rem;
  font-size: 12px;
  color: var(--Soft-Red);
  display: none;
}

/* ----pseudo selectors----- */

.email::placeholder {
  padding-left: 1rem;
  color: var(--Desaturated-Red);
}
button:hover {
  background: hsl(0, 80%, 86%);
  cursor: pointer;
}
.email:focus {
  border: 2px solid var(--Desaturated-Red);
  outline: none;
}

/* -----active class for JavaScript----- */
.active {
  display: block;
}

/* ----increasing size---- */

@media (min-width: 600px) {
  main {
    max-width: 800px;
  }
  h1 {
    font-size: 59px;
  }
  p {
    font-size: 16px;
    width: 22rem;
  }
}

/* --------destop design--------- */

@media (min-width: 900px) {
  body {
    min-height: 100vh;
    background: url(/images/bg-pattern-desktop.svg),
      linear-gradient(135deg, white, #fff5f5);
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 7rem 1fr;
    min-width: 1440px;
    padding-left: 4rem;
  }

  h1 {
    font-size: 56px;
    text-align: left;
    width: 12rem;
    padding-bottom: 1rem;
    letter-spacing: 10px;
  }
  p {
    font-size: 14px;
    text-align: left;
    margin-left: 0;
  }
  span {
    display: block;
  }

  header {
    padding-left: 10rem;
    margin-top: 2rem;
  }

  .mobile-img {
    display: none;
  }

  .container {
    text-align: left;
    padding-top: 2rem;
    padding-left: 0;
  }
  .destop-img {
    display: block;
    height: 100vh;
  }
  .email {
    margin-left: 0;
    max-width: 18rem;
  }
}
